html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}

h3 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	width: 100%;

}

header h1 {
	border-bottom: 3px solid #77a466;
	margin: 0;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0;
	width: 100%;
}

header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	line-height: 1.5;
	padding: 10px 10px;
	list-style-type: none;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.main-image {
	height: auto;
}

.main-image img {
	width: 100%;
	border: 3px solid #77a466;
}

.main-title {
	height: auto;
}

.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}

.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	border-top: 1px solid #eee;
}

.section-one, 
.section-two, 
.section-three h3 {
	padding: 10px 0;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
	padding: 0px;
}

.address {
	font-size: 1em;
	line-height: 24px;
	padding: 0;
}


/*The widths are in a percentage!*/
footer {
	width: 100%;
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;

}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}

@media screen and (min-width: 768px) {
	
	.bottom-section {
		flex-flow: row wrap;
		align-items: flex-start;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 33%;
		height: auto;
		flex-flow: row wrap;
		border-top: 1px solid #eee;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

	.section-two h3, 
	.section-three h3 {
		padding: 10px;
	}

	.reviews, 
	.address {
		padding: 10px;
	}

}

@media screen and (min-width: 1200px) {

header {
	justify-content: space-between;
	flex-flow: row wrap;
}
	
header h1 {
	width: 30%;
	border: none;
}

header nav {
	width: 60%;
}

header nav ul  {
	flex-direction: row;
	justify-content: flex-end;
}

.section-one,
.section-two,
.section-three {
	width: 33%;
	height: auto;
	border-top: 1px solid #eee;
}
}